# .env.example
# API Keys
GEMINI_API_KEY=

# API Configuration
API_BASE=https://bkd.ebettr.com

# Feature Flags
# Set to 'false' to disable sign up. Defaults to 'true'.
ENABLE_SIGN_UP=true

# Analytics
VITE_GA_ID=G-HPQ51TT5Y8
