@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-screen,
.auth-screen *,
.auth-screen *::before,
.auth-screen *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #292929;
}
